// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~toastr/toastr.scss';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

#toast-container {
	> div {
		opacity: 1 !important;
	}

	&.toast-top-center {
		top: 9%;
		&> div { width:450px !important; }
	}
	.toast-title {
		font-size: 18px;
		margin-bottom: 8px;
		font-weight: 600;
	}
}

.ck-editor__editable_inline {
	min-height: 250px;
}

.scroll {
    max-height: 197px;
    overflow-y: auto;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #d61c59;
}

.nav-item:first-child .nav-link {
	margin-left: 125px;
}

.nav-item:last-child .nav-link {
	margin-right: 350px;
}

.navbar-nav .nav-item .dropdown-menu {
	margin-right: 350px;
}
