// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~toastr/toastr.scss';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

#toast-container {
	> div {
		opacity: 1 !important;
	}

	&.toast-top-center {
		top: 9%;
		&> div { width:450px !important; }
	}
	.toast-title {
		font-size: 18px;
		margin-bottom: 8px;
		font-weight: 600;
	}
}

.ck-editor__editable_inline {
	min-height: 400px;
}
